.hidden {
  display: none;
}

body {
  font-size: 18px;
  color: floralwhite;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-size: cover;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 180px;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-size: 60px;
  margin-top: 0;
}

input {
  margin-top: 10px;
  color: inherit;
  font-size: min(42px, 4vw);
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid floralwhite;
}

input::placeholder {
  color: floralwhite;
}

#login-form {
  text-align: center;
}

#quote {
  position: fixed;
  bottom: 2vh;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  left: 25%;
}

#quote div:first-child {
  font-size: 24px;
  text-align: left;
}

#quote div:last-child {
  font-size: 17px;
  text-align: right;
}
